@import "./abstracts/mixins.scss";
@import "./abstracts/var.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

}

.first{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    height: 900px;
 background-size: cover;
    background-repeat: no-repeat;

 
   
}
.first-section-center{
  @include display;
    flex-direction: column;
  
    transform: translateY(200px);
    .first-section-h{
        font-size: 85px;
        color:#212529;
    
    }
    p{
        color:#212529;
        font-size:27px;
        line-height: 20px;
    font-weight: 550;
        transform: translateY(-80px);
      
    }
    .first-section-btn{
   @include button;
   transform: translateY(-60px);
    }
    .first-section-btn:hover{
        background-color: #41accc;
    }
   
}
.second{
    background-color: white;
    height: 350px;
}
.second-section-center{
 @include display;
  flex-direction: column;
  transform: translateY(80px);
  a{
color: rgb(24, 98, 115);
  }
  h1{
    font-size: 30px;
    font-weight: bold;

  }
  p{
    font-size: 18px;
    color: #797575;
    transform: translateY(-30px)
  }
  .second-section-btn{
   @include button;
   background-color: rgb(39, 39, 39);
  }
  .second-section-btn:hover{
    background-color: #4f5459;
  }
}
.third{
    background-color: #1D809F;
    height: 530px;
    .third-top{
      @include display;
      flex-direction: column;
      transform: translateY(90px);
      h4{
        color: $myH4Color;
        line-height: $myLineHeight;

      }
      h1{
        color:white ;
        font-size: $myFontSize ;
        line-height: $myLineHeight;
     margin:$myMargin
        
      }
    }
    .third-bottom{
      @include display;
       flex-direction: column;
        transform: translateY(120px);
      .circles{
        @include display;
        flex-direction: row;

      }
      .circle{
        background-color: white;
        margin: 30px 90px 0px 110px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
      .fa-solid{
        @include display;
        margin-left: 35px;
        width:39px;
         height:32px;
         font-size: 25px;
        margin-top: 38px;
      }
      .mustache{
        @include display;
       margin-left: 35px;
       margin-top: 38px;
      }
      .bottom-circles{
        @include display;
        flex-direction: row;
    
      }

      .text{
     text-align: center;
     padding: 0 42px;  
     color:white
      }
      h3{
        font-size: 23px;
        line-height: 16px;
      }
      p{
        line-height: 1px;
        color: #c3c3c3;
        font-weight: 500px;
        font-size: 17px;
      }
    }
}
.fourth{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: -19.7px;
    .fourth-section-center{
        @include display;
        flex-direction: column;
        transform: translateY(200px);
    }
    h1{
        font-size: 50px;
        width: 400px;
        text-align: center;
        color: #212529;
    }
    .fourth-section-btn{
        @include button;
    }
    .fourth-section-btn:hover{
        background-color: #41accc;
    }
}
.fifth{
    height: 1200px;
    .fifth-top{
        @include display;
        flex-direction: column;
        transform: translateY(80px);
        h4{
            color: $myH4Color;
            line-height: $myLineHeight;
    
          }
          h1{
            color:$myH1Color;
            font-size: $myFontSize ;
            line-height: $myLineHeight;
         margin:$myMargin
            
          }}
          .boxes{
            display: grid;
            grid-template-rows: 400px 400px;
            grid-template-columns: 600px 600px;
           transform: translateY(120px);
            justify-content: center;
           .boxestext{
            margin-left: 50px;
            margin-top: 260px;
            color: white;
            h4{
                font-size:16px ;
            }
            p{
                font-size: 17px;
                width: 420px;
            }
           }
           }
           .box1{
             background-image:linear-gradient(rgba(0, 0, 0, 0.487),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
            
           }
           .box2{
             background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
           
           }
           .box3{
               background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
           }
           .box4{
           background-image:linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
           }
    .box1:hover{
        transform: scale(0.9);
}
.box2:hover{
    transform: scale(0.9);
}
.box3:hover{
    transform: scale(0.9);
}
.box4:hover{
    transform: scale(0.9);
}
           
    }
    .sixth{
        height: 300px;
        background-color: #1D809F;
        margin-top: -90px;
        .sixth-top{
            @include display;
            transform: translateY(70px);
            color: white;
            font-size: 20px;
        }
        .sixth-bottom{
            @include display;
            margin-top: 80px;
         
        }
        .sixth-btn1{
            margin: 20px;
            height: 60px;
            border: none;
            border-radius: 8px;
            width: 150px;
        }
        .sixth-btn1:hover{
            background-color: #a4aab0
        }
        .sixth-btn2{
            @extend .sixth-btn1;
            background-color: #212529;
            color: white;
        }
        .sixth-btn2:hover{
            background-color: #4f5459;
        }
    }
footer{
    height: 27px;
    .socialmedia{
        @include display;
         flex-direction: row;
          transform: translateY(90px);
      
        .icons{
          background-color:#1D809F;
          margin: 10px 1px 0px 20px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .fa-brands{
          @include display;
          margin-left: 10px;
          width:39px;
           height:32px;
           font-size: 17px;
          margin-top: 14px;
        }
    }
    .footer{
        @include display;
        text-align: center;
        transform: translateY(100px);
    }
}



/* Desktop - ekran ölçüsü 1280px-dən çox;
tablet- ekran ölçüsü 992px-dən 1279px-ə qədər ;
smartfon - ekran ölçüsü 320px-dən 991px-ə qədər. */

@media screen and (min-width: 320px) and (max-width:991px){

  .first{
    height: 550px;
min-width: 430px;
    background-repeat: no-repeat;
 
   
}
.first-section-center{
@include display;
    flex-direction: column;
    transform: translateY(99px);
    margin-right: 20px;
    .first-section-h{
        font-size: 47px;
        width: 50%;
        text-align: center;
        color:#292e33;
      
    
    }
    p{
        color:#292e33;
        font-size:25px;
        line-height: 30px;
    font-weight: 550;
    width: 64%;
    text-align: center;
        transform: translateY(-40px);
      
    }
    .first-section-btn{
   @include button;
   transform: translateY(-20px);
   width: 40%;
   height: 50px;
   border-radius: 3px;
   margin-left: 20px;
    }
   
}
.second{

  background-color: white;
  height: 470px;
 
}
.second-section-center{
@include display;
flex-direction: column;
transform: translateY(80px);
width: 89%;
margin-left: 50px;
a{
color: rgb(24, 98, 115);
}
h1{
  font-size: 20px;
  font-weight: bold;
padding-bottom: 20px;
  width: 76%;
  margin-right: 30px;
  text-align: center;


}
p{
  font-size: 13px;
  width: 80%;
  color: #797575;
  transform: translateY(-30px);
}
.second-section-btn{
 @include button;
 background-color: rgb(39, 39, 39);
 width: 40%;
    height: 50px;
    border-radius: 3px;
   margin-right: 30px;
}
}
.third{
  background-color: #1D809F;
  height: 1000px;
  min-width: 430px;
  .third-top{
    @include display;
    flex-direction: column;
    transform: translateY(90px);
    h4{
      color: $myH4Color;
      line-height: $myLineHeight;

    }
    h1{
      color:white ;
      font-size: $myFontSizeMedia ;
      line-height: $myLineHeight;
   margin:$myMargin;
  
      
    }
  }
  .third-bottom{
    @include display;
     flex-direction: column;
      transform: translateY(120px);
    .circles{
      @include display;
      flex-direction: column;

    }
    .circle{
      background-color: white;
      margin: 30px 118px 35px 110px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }
    .fa-solid{
      @include display;
      margin-left: 35px;
      width:39px;
       height:32px;
       font-size: 25px;
      margin-top: 38px;
    }
    .mustache{
      @include display;
     margin-left: 35px;
     margin-top: 38px;
    }
    .bottom-circles{
      @include display;
      flex-direction: column;
   transform: translateY(-603px);

  
    }

    .text{
   text-align: center;
   padding:10px 10px 86px 0;
   color:white;
   

    }
    h3{
      font-size: 23px;
      line-height: 40px;
    }
    p{
      
      color: #c3c3c3;
      font-weight: 500px;
      font-size: 17px;
      margin-top: -18px;
    }
  }
}
.fourth{
  height: 920px;
  margin-top: -19.7px;
  min-width: 430px;
  .fourth-section-center{
      @include display;
      flex-direction: column;
      transform: translateY(200px);
  }
  h1{
      font-size: 50px;
      width: 200px;
      text-align: center;
      color: #212529;
  }
  .fourth-section-btn{
      @include button;
  }
}
.fifth{
  height: 1400px;
  min-width:430px;
  .fifth-top{
      @include display;
      flex-direction: column;
      transform: translateY(80px);
      h4{
          color: $myH4Color;
          line-height: $myLineHeight;
  
        }
        h1{
          color:$myH1Color;
          font-size: $myFontSizeMedia ;
          line-height: $myLineHeight;
       margin:$myMargin
          
        }}
        .boxes{
          display: grid;
          grid-template-rows: 230px 230px 230px 230px; 
          grid-template-columns: 300px ;
        row-gap: 20px;
         transform: translateY(120px);
          justify-content: center;
         .boxestext{
          margin-left: 18px;
          margin-top: 59px;
          color: white;
          h4{
              font-size:14px ;
          }
          p{
              font-size: 19px;
              width: 220px;
          }
         }
         }
         .box1{
           background-image:linear-gradient(rgba(0, 0, 0, 0.487),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
       background-size: cover;
          
         }
         .box2{
           background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
           background-size: cover;
         }
         .box3{
          background-size: cover;
          background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
         }
         .box4{
         background-image:linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
         background-size: cover;
        }
  }
  .sixth{
    height: 500px;
    min-width: 430px;
    .sixth-top{
        @include display;
        transform: translateY(70px);
        color: white;
        font-size: 16px;
        text-align: center
    }
    .sixth-bottom{
        @include display;
        flex-direction: column;
        margin-top: 80px;
     
    }
    .sixth-btn1{
        margin: 10px;
        height: 60px;
        border: none;
        border-radius: 8px;
        width: 150px;
    }
    .sixth-btn2{
        @extend .sixth-btn1;
        background-color: #212529;
        color: white;
    }
}
.map{
  height: 700px;
}
.map-section{
  min-width:430px
}
footer{
  height: 27px;
  min-width: 400px;
  .socialmedia{
      @include display;
       flex-direction: row;
        transform: translateY(70px);
    
      .icons{
        background-color:#1D809F;
        margin: 10px 1px 0px 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .fa-brands{
        @include display;
        margin-left: 10px;
        width:39px;
         height:32px;
         font-size: 17px;
        margin-top: 14px;
      }
  }
  .footer{
      @include display;
      text-align: center;
      transform: translateY(80px);
  }
}
}


@media screen and (min-width: 992px) and (max-width:1279px){
  .first{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    height: 1000px;
    min-width: 1332px;
 background-size: cover;
    background-repeat: no-repeat;
 
   
}
.first-section-center{
  @include display;
    flex-direction: column;
    transform: translateY(200px);
    .first-section-h{
        font-size: 70px;
        color:#212529;
        width: 50%;
text-align: center;

    
    }
    p{
        color:#212529;
        font-size:29px;
        width: 45%;
        line-height: 20px;
    font-weight: 550;
    margin-left: 60px;
        transform: translateY(-80px);
      
    }
    .first-section-btn{
   @include button;
   transform: translateY(-60px);
    }
   
}
.second{
    background-color: white;
    height: 410px;
    min-width: 1332px
}
.second-section-center{
 @include display;
  flex-direction: column;
  transform: translateY(80px);
  a{
color: rgb(24, 98, 115);
  }
  h1{
    font-size: 30px;
    font-weight: bold;
    width: 57%;
    text-align: center;

  }
  p{
    font-size: 18px;
    color: #797575;
    transform: translateY(-30px);
    width:53%;
    text-align: center
  }
  .second-section-btn{
   @include button;
   background-color: rgb(39, 39, 39);
  }
}
.third{
    background-color: #1D809F;
    height: 530px;
    min-width: 1332px;
    .third-top{
      @include display;
      flex-direction: column;
      transform: translateY(90px);
      h4{
        color: $myH4Color;
        line-height: $myLineHeight;

      }
      h1{
        color:white ;
        font-size: $myFontSize ;
        line-height: $myLineHeight;
     margin:$myMargin
        
      }
    }
    .third-bottom{
      @include display;
       flex-direction: column;
        transform: translateY(120px);
      .circles{
        @include display;
        flex-direction: row;

      }
      .circle{
        background-color: white;
        margin: 22px 32px -2px 106px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
      .fa-solid{
        @include display;
        margin-left: 35px;
        width:39px;
         height:32px;
         font-size: 25px;
        margin-top: 38px;
      }
      .mustache{
        @include display;
       margin-left: 35px;
       margin-top: 38px;
      }
      .bottom-circles{
        @include display;
        flex-direction: row;
    
      }

      .text{
     text-align: center;
     padding:16px 4px;  
     margin-left: 36px;
     margin-right: -29px;
     color:white
      }
      h3{
        font-size: 23px;
        line-height: 16px;
      }
      p{
        line-height: 1px;
        color: #c3c3c3;
        font-weight: 500px;
        font-size: 17px;
      }
    }
}
.fourth{
    height: 920px;
    margin-top: -22px;
    min-width: 1332px;
    .fourth-section-center{
        @include display;
        flex-direction: column;
        transform: translateY(200px);
    }
    h1{
        font-size: 60px;
        width: 50%;
        text-align: center;
        color: #212529;
    }
    .fourth-section-btn{
        @include button;
       
    }
  }
  .fifth{
    height: 1400px;
    min-width:1332px;
    .fifth-top{
        @include display;
        flex-direction: column;
        transform: translateY(80px);
        h4{
            color: $myH4Color;
            line-height: $myLineHeight;
            font-size: 30px;
    
          }
          h1{
            color:$myH1Color;
            font-size: 55px ;
            line-height: $myLineHeight;
         margin:$myMargin
            
          }}
          .boxes{
            display: grid;
            grid-template-rows: 49% 49% ; 
            grid-template-columns: 45% 45%;
           transform: translateY(120px);
            justify-content: center;
           .boxestext{
            margin-left: 90px;
     
       
            color: white;
            h4{
                font-size:17px ;
             

            }
            p{
                font-size: 28px;
                width: 280px;

            }
           }
           }
           .box1{
             background-image:linear-gradient(rgba(0, 0, 0, 0.487),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
         background-size: cover;
            
           }
           .box2{
             background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
             background-size: cover;
           }
           .box3{
            background-size: cover;
            background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) ,url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
           }
           .box4{
           background-image:linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.1)) , url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
           background-size: cover;
          }
    }
    
    .sixth{
        min-width: 1332px;
        height: 500px;
        .sixth-top{
            h1{
                font-size: $myFontSize;
            }
        }
    }
    .map{
      height: 700px;
    }
    .map-section{
      min-width:1332px
    }
footer{
    min-width: 1332px;
}
}